# Heading1 
## Heading2 
### Heading3

###### hi

In [1]:
4+4

8

!  - Used to run command line instructions or commands

In [2]:
!python --version

Python 3.7.0

In [3]:
!whoami

desktop-i7ql3e5\aadhi

In [4]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is DCB7-12F4

 Directory of C:\Users\AADHI\Desktop\inceptez_14

19-07-2020  10:52    <DIR>          .
19-07-2020  10:52    <DIR>          ..
19-07-2020  09:47    <DIR>          .ipynb_checkpoints
19-07-2020  10:52           132,418 02 - Day - 2 - Python Basics notebook.ipynb
19-07-2020  09:47               555 test jupyter notebook.ipynb
               2 File(s)        132,973 bytes
               3 Dir(s)  250,124,480,512 bytes free

## comments in python

In [5]:
#this is a single line comment in python 
#comment2

In [6]:
'''
This is a multi line comment in 
python and what ever you write will be 
a comment
'''

'\nThis is a multi line comment in \npython and what ever you write will be \na comment\n'

## Keywords, identifiers and Variables in Python

### Keywords - it is used for a specific purpose

In [7]:
False

False

In [8]:
false

NameError: name 'false' is not defined

In [9]:
print("LAXMI")
print("INCEPTEZ")

LAXMI
INCEPTEZ

### Importing a package

In [10]:
import keyword

In [11]:
#Tab - To list the set of all the available functions inside a package
#Shift + Tab - To know about the function

In [12]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

Identifiers - User defined names to varibales, functions, classes and others inside the notebook

variables are identifiers act as memory holders and store the entries and their values can change during the execusion of the program

In [13]:
a = 10
b = 10
print(a+b)

20

In [14]:
a = 10
b= 20
b=a+b
print(b)

30

Rules for assigning names to an identifier are: 
    1. cannot be a Keyword
    2. cannot start with a number 
    3. No special characters #,@,!,%,$
    4. They cannot have space inbetween them 
    5. they are case sensitive

In [15]:
break = 10

SyntaxError: invalid syntax (<ipython-input-15-9f64e1454aa4>, line 1)

In [16]:
2inceptez = 10

SyntaxError: invalid syntax (<ipython-input-16-e0a90e85c3ca>, line 1)

In [17]:
a@ =10

SyntaxError: invalid syntax (<ipython-input-17-5e3fdcbce8dc>, line 1)

In [18]:
a b = 10

SyntaxError: invalid syntax (<ipython-input-18-039b1666f5cf>, line 1)

In [19]:
a_b=10

In [20]:
a=10
A=10
print("The value of small a is:",a)

The value of small a is: 10

In [21]:
a,b,c = 1,2,'Laxmi'

In [22]:
a

1

In [23]:
b

2

In [24]:
c

'Laxmi'

In [25]:
a = b= c = "Inceptez"

In [26]:
a

'Inceptez'

In [27]:
b

'Inceptez'

In [28]:
c

'Inceptez'

In [29]:
keyword.iskeyword('a')

False

In [30]:
keyword.iskeyword('True')

True

## Datatypes
    1. Number 
    2. String 
    3. Boolean 
    4. List 
    5. set 
    6. Tuple 
    7. Dict

# Number 
## Integer

In [31]:
a= 10
print("The type of a is:",type(a))

The type of a is: <class 'int'>

## Float - Floating point number

In [32]:
a = 10.0
print("The type of a is:",type(a))

The type of a is: <class 'float'>

## Complex - Number type

In [33]:
a = 1+6j
print(type(a))

<class 'complex'>

# String or Text or Characters

In [34]:
d = "String"

In [35]:
type(d)

str

In [36]:
d = """This is a 
multi line string
"""

In [37]:
d

'This is a \nmulti line string\n'

In [38]:
type(d)

str

## Boolean type data

In [39]:
A = True
print(type(A))

<class 'bool'>

In [40]:
A = "True"
print(type(A))

<class 'str'>

In [42]:
A

'True'

In [ ]:
#List
"""
1. Allows Heterogenous data 
2. Index starts from 0 
3. List elements are mutable 
4. []
"""

In [50]:
sample_lst = [0,"Inceptez","Velachery",'5', 1+6j,[1,2,3]]

In [51]:
sample_lst

[0, 'Inceptez', 'Velachery', '5', (1+6j), [1, 2, 3]]

In [47]:
sample_lst[2]

'Velachery'

In [54]:
sample_lst[0] = "Laxmi"

In [55]:
sample_lst

['Laxmi', 'Inceptez', 'Velachery', '5', (1+6j), [1, 2, 3]]

## List Operation

[] - anything within this is a list 
keyword list() can also be used

In [62]:
lst = [12,20,5,2,4,10,20]


## By default the value for the parameter is give
Signature: lst.sort(*, key=None, reverse=False) #default paramter

In [63]:
lst.sort() #Default parameter
print(lst)

[2, 4, 5, 10, 12, 20, 20]

In [64]:
lst.sort(reverse = True)
print(lst)

[20, 20, 12, 10, 5, 4, 2]

In [71]:
## Anytime use any of these functions

In [68]:
help(lst.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Stable sort *IN PLACE*.

In [70]:
lst.sort?

In [72]:
lst.append(2)

In [73]:
lst

[2, 4, 5, 10, 12, 20, 20, 2]

In [74]:
lst.count(20)

2

In [75]:
lst.extend([42,24])

In [76]:
lst

[2, 4, 5, 10, 12, 20, 20, 2, 42, 24]

Signature: lst.pop(index=-1, /)
Docstring:
###### Remove and return item at index (default last).

In [85]:
a = lst.pop(3)

In [86]:
a

12

In [87]:
lst

[2, 4, 5, 2, 42, 24]

In [89]:
a = lst.remove(2)

In [90]:
a

In [91]:
lst.append([2,3])

In [92]:
lst

[4, 5, 2, 42, 24, [2, 3]]

In [95]:
lst.extend([[2,3]])

In [99]:
lst

[4, 5, 2, 42, 24, [2, 3], 2, 3, [2, 3]]

### List slicing

In [97]:
lst[2]

2

In [98]:
lst[2:4]

[2, 42]

In [102]:
lst[0:4]

[4, 5, 2, 42]

In [105]:
lst2 = lst[0:5]

In [106]:
lst2

[4, 5, 2, 42, 24]

In [107]:
lst[:0] = [20]

In [108]:
lst

[20, 4, 5, 2, 42, 24, [2, 3], 2, 3, [2, 3]]

In [109]:
lst[:0] = [20,40]

In [110]:
lst

[20, 40, 20, 4, 5, 2, 42, 24, [2, 3], 2, 3, [2, 3]]

In [137]:
lst[3:5] = [200,200]

In [138]:
lst

[20, 40, 20, 200, 200, 200, 100, 200, 24, [2, 3], 2, 3, [2, 3]]

In [113]:
lst[-1]

[2, 3]

In [127]:
lst[-5:]

[24, [2, 3], 2, 3, [2, 3]]

In [117]:
lst1 = [1,2,4]

In [119]:
len(lst1)

3

In [130]:
lst.insert(5,[6,7])

In [131]:
lst

[20, 40, 20, 4, 5, [6, 7], 6, 100, 200, 24, [2, 3], 2, 3, [2, 3]]

In [149]:
lst =[1,2,3,4,5]

In [150]:
#Replace and insert
lst[3] = 20

In [151]:
lst

[1, 2, 3, 20, 5]

In [152]:
lst.insert(3,100)

In [161]:
lst

[1, [200, 200], 200, 3, 100, 20, 5]

In [160]:
lst[1] = [200,200]

In [163]:
#if i need to insert multiple indices with multiple values

In [166]:
lst = [1, [200, 200], 200, 3, 100, 20, 5]
lst[1:3] = []

In [170]:
lst[0:4]

[1, 3, 100, 20]

In [189]:
lst =["Mani",'Siva','Bala']

In [173]:
lst[:4]

[1, 3, 100, 20]

In [191]:
lst

['Mani', 'Siva', 'Bala']

In [193]:
lst[:6]

['Mani', 'Siva', 'Bala']

## Retrieve index of the an element in a list

In [190]:
lst.index("Siva")

1

In [ ]:
lst["STARTING":"ENDING-1"]

In [197]:
lst = [1, 3, 100, 20]

In [200]:
lst[1:3] = []

In [201]:
lst

[1, 20]

In [1]:
import numpy as np 
a = np.arange(10) 
print(a[2:] )

[2 3 4 5 6 7 8 9]

In [ ]:
import pandas as pd
data_1 = {'state' : ['VA', 'VA', 'VA', 'MD', 'MD'], 'year' : [2012, 2013, 2014, 2014, 2015], 'pop' : [5.0, 5.1, 5.2, 4.0, 4.1]} 
df_1 = pd.DataFrame(data_1) 
df_1.iloc[:,0]

In [ ]:
x = ['ab', 'cd']
for i in x:
    x.append(i.upper())
print(x)

In [2]:
i = 1 
while True:
    if i%3 == 0: 
        break 
    print(i)
    i+= 1

1
2

In [1]:
i = 1
while i <=10:
    if i%2 == 0:
        break
    print(i)
    i += 2

1
3
5
7
9

In [1]:
True = False
while True:
    print(True)
break

SyntaxError: can't assign to keyword (<ipython-input-1-c617d3730c9b>, line 1)

In [ ]:
print('*', "abcde".center(6), '*', sep='')