## Conditional loops if,else,elif
1)  Check for the condition: if Satisfied --> Executes the statements 
2)  Check for the condition: else Not satisfied --> Execute the else statements  
    - Equals: a == b
    - Not Equal: !, a != b
    - Less than: a < b 
    - Greater than: a > b
    - Greater than or equal to: a >= b
Most commonly in "If Statements"

## Syntax: for if
':' - is a part of the syntax. Very important
- tab space is very important for an if statement 
    What ever comes within this tab is considered to be a part of the if
    
Absence of tab or indentation results in 

- IndentationError: expected an indented block

In [5]:
name = input("enter a name: ")
if name == "balamurugan":
    a = 10 
    b = 20 
    c = a*b
    print(c)
    print("Hello ",name)
else: 
    print("Your name is:",name)
    print("Your name is not balamurugan")

enter a name: balamurugan
200
Hello  balamurugan

## ELIF

In [8]:
a = int(input("Enter the number1: "))
b = int(input("Enter the number2: "))
sum_ = a+b
if(sum_ <= 20):
    print("Less than 20")
elif(sum_ == 100):
    print("century")
elif(sum_ == 75):
    print("3/4th of 100")
else:
    print("Nothing above is the sum!")

Enter the number1: 50
Enter the number2: 50
century

#### Write a student grade checker: 
#### A grade -> the mark greater or equal than 90
#### B grade -> the mark is between 70 (inclusive) and 90 (not inclusive)
#### C grade -> the mark is less than 70 (not inclusive)

- input: 
    1) 90 
    2) 75
    3) 65
- Expected Output: 
    1) A 
    2) B 
    3) C
    
    
and - &
or - |
not - ~

## Shortcut for if-else

In [11]:
a = 100 
b = 20 
if a > b:print("A is bigger than b")

A is bigger than b

In [13]:
a = 100 
b = 20 
print("A is bigger than b") if a > b else print("B is bigger")

A is bigger than b

In [14]:
dhoni = 50 
Kholi = 60 
Rohit = 10
if(dhoni > 30) and (Kholi > 20):
    print("India Won")
else: 
    print("India Lost")

India Won

## Nested if

In [15]:
a = 10
b = 12
c = 19
if a > 5: 
    print("Inside Loop 1")
    if b > 10:
        print("Inside Loop 2")
        if c > 15: 
            print("Inside Loop 3")

Inside Loop 1
Inside Loop 2
Inside Loop 3

Inside an if: PASS is used to avoid errors.

In [19]:
if a > 5: 
    pass

## For and While Loops
- Loop - repeated actions 
- Iteration
- Set of statements repeatedliy executed
- continuous running of something
- endless
- Circular

These are also called as primitive loops

In [2]:
j = 0

In [3]:
while j < 20: 
    print(j) 
    j=j+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
lst = []
for i in range(0,20):
    lst.append(i)
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Write a student grade checker:
- A grade -> the mark greater or equal than 90
- B grade -> the mark is between 70 (inclusive) and 90 (not inclusive)
- C grade -> the mark is less than 70 (not inclusive)
    - input: 
        1) 90 
        2) 75 
        3) 65
    - Expected Output: 
        1) A 
        2) B 
        3) C
and - & or - | not - ~

In [1]:
marks = []
for i in range(0,5):
    mark = int(input("Enter the marks one by one"))
marks.append(mark)

Enter the marks one by one40
Enter the marks one by one40
Enter the marks one by one20
Enter the marks one by one30
Enter the marks one by one20

In [2]:
marks

[20]

In [17]:
total = 0
for i in marks: 
    total=total+i
total

460

In [14]:
sum(marks)

460

In [18]:
avg_marks = total/5

In [20]:
avg_marks

92.0

In [24]:
20%6

2

In [22]:
## Print all the numbers that are divisible 6
lst = []
for i in range(1,100):
    if(i%6 == 0):
        lst.append(i)
lst

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

## Continue

In [29]:
marks = []
for i in range(0,2):
    if i == 0: 
        name = input("Enter the name")
    if i == 1: 
        age = int(input("Enter the age"))
print("My name is: {1} and my age is {0}".format(name,age))

Enter the name Laxminarayen
Enter the age 23
My name is: 23 and my age is  Laxminarayen

In [30]:
name = input("Enter a name: ")
for i in name: 
    if i == 'e': 
        continue
    print(i)

Enter a name: Laxminarayen
L
a
x
m
i
n
a
r
a
y
n

## Break

In [32]:
name = input("Enter a name: ")
for i in name: 
    if i == 'e': 
        break
    print(i)

Enter a name: Raveendran
R
a
v

In [34]:
name = ["Siva",'Sunil','Bala']
for i in name: 
    break
for j in name: 
    print(j)

Siva
Sunil
Bala

## Functions
- Reusable set of instruction

In [4]:
#Function defenition
def inceptez_batch14():
    """This is a function written in the class to show the students"""
    print("True")

In [5]:
name = "Sunil"
name.insert()

AttributeError: 'str' object has no attribute 'insert'

In [45]:
#Function call
a = inceptez_batch14()

True

In [43]:
type(a)

bool

In [53]:
import subadd

In [49]:
subadd.add_var(20,10)

30

In [55]:
inceptez_batch14.__doc__

'This is a function written in the class to show the students'

In [58]:
for i in range(0,10):
    inceptez_batch14()

True
True
True
True
True
True
True
True
True
True

In [59]:
#Parameter
def inceptez_batch14(batch):
    """This is a function written in the class to show the students"""
    batch = str(batch)
    print("The current batch is: ",batch)

In [60]:
inceptez_batch14(12)

The current batch is:  12

In [61]:
#default parameter
def inceptez_batch14(batch = 10):
    """This is a function written in the class to show the students"""
    batch = str(batch)
    print("The current batch is: ",batch)

In [63]:
inceptez_batch14(14)

The current batch is:  14

In [ ]:
## Factorial of a number
4! = 4*3*2*1
5! = 5*4*3*2*1
1! = 1

In [ ]:
4! = 4 * 3! (3! = 3 * 2! ())

In [71]:
#recursive function is something that calls itself
def fact(num):
    if(num == 1):
        return num 
    else: 
        return(num*fact(num-1))

In [72]:
fact(4)

24

In [67]:
fact(1)

1

In [6]:
%history

marks = []
for i in range(0,5):
    mark = int(input("Enter the marks one by one"))
marks.append(mark)
marks
%history
#Function defenition
def inceptez_batch14():
    """This is a function written in the class to show the students"""
    print("True")
name = "Sunil"
name.insert()
%history

In [13]:
from subadd import sub_var

In [14]:
sub_var(6,2)

4