In [1]:
## Pandas - Got its name from "Panel Data"
#It is built on the top of Numpy + matplotlib - Visualization

In [ ]:
#WE will cleaning,transforming and Analyzing

#installing pandas




!pip install pandas



!conda install pandas --y

In [2]:
import pandas

In [8]:
import pandas as pd

In [5]:
#Create a dataframe
data = {
    'kholi':[60,30,20,40],
    'dhawan':[10,5,100,6]
}

In [6]:
#D and F are in caps for initializing the dataframe
cricket_scores  = pd.DataFrame(data)

cricket_scores
#Rows are identified by index
#Columns are identified by column names

   kholi  dhawan
0     60      10
1     30       5
2     20     100
3     40       6

In [6]:
data = {
    'Mango':[150,200,150,100,90,70],
    'Banana':[10,20,10,30,10,50]
}

In [9]:
df = pd.DataFrame(data,index = ['Jan','Feb','Mar','April','May','June'])

In [10]:
df

       Mango  Banana
Jan      150      10
Feb      200      20
Mar      150      10
April    100      30
May       90      10
June      70      50

In [10]:
#iloc - Location based indexing 
#loc - label indexing

In [15]:
df.iloc[:,0]

Jan      150
Feb      200
Mar      150
April    100
May       90
June      70
Name: Mango, dtype: int64

In [12]:
df.loc[:,'Mango']

Jan      150
Feb      200
Mar      150
April    100
May       90
June      70
Name: Mango, dtype: int64

In [13]:
df.loc[:,'Mango']

Jan      150
Feb      200
Mar      150
April    100
May       90
June      70
Name: Mango, dtype: int64

In [15]:
df.loc[:,0]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [16]:
df['Mango']['April']

100

In [17]:
df.iloc[3,0]

100

In [19]:
import os

In [20]:
os.listdir()

['.ipynb_checkpoints',
 '02 - Day - 2 - Python Basics notebook.ipynb',
 'database.db',
 'Function.py',
 'IMDB-Movie-Data.csv',
 'Loops and Functions.ipynb',
 'new_purchases.csv',
 'new_purchases.json',
 'Numpy.ipynb',
 'purchases.csv',
 'purchases.json',
 'Sample.csv',
 'Sample.xlsx',
 'String_manipulation.ipynb',
 'subadd.py',
 'test jupyter notebook.ipynb',
 'Tuple_set_dictionary_strings_basics.ipynb',
 'Untitled.ipynb',
 '__pycache__']

In [21]:
os.getcwd()

'C:\\Users\\AADHI\\Desktop\\inceptez_14'

In [23]:
os.mkdir("test_inceptez14")

In [ ]:
pip installl

In [ ]:
get_ipython().system("pip install numpy")

In [30]:
#Head is used to diplay the top 5 rows
df.head(10)

       Mango  Banana
Jan      150      10
Feb      200      20
Mar      150      10
April    100      30
May       90      10
June      70      50

In [31]:
df.tail()

       Mango  Banana
Feb      200      20
Mar      150      10
April    100      30
May       90      10
June      70      50

In [1]:
df = pd.read_csv("input/new_purchases.csv",index_col = 0)

NameError: name 'pd' is not defined

In [40]:
df.head()

        apples  oranges
index
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [18]:
df = pd.read_csv(r"https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/addresses.csv")

In [19]:
df.head()

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US

In [47]:
#JSON - JavaScript Object Notation
df = pd.read_json("purchases.json")

In [48]:
df

        apples  oranges
David        1        2
June         3        0
Lily         0        7
Robert       2        3

In [49]:
df = pd.read_excel("Sample.xlsx")

In [50]:
df

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [52]:
## Opening a DB file

In [ ]:
!pip install pysqlite3

In [51]:
import sqlite3

In [53]:
con = sqlite3.connect('database.db')

In [55]:
#SQL Database
df = pd.read_sql_query("SELECT * FROM purchases",con)

In [56]:
df

    index  apples  oranges
0    June       3        0
1  Robert       2        3
2    Lily       0        7
3   David       1        2

In [ ]:
jaydebeapi

In [57]:
df.head()

    index  apples  oranges
0    June       3        0
1  Robert       2        3
2    Lily       0        7
3   David       1        2

In [58]:
df.to_excel("test_Write.xlsx",index = False)

In [59]:
## operations using Dataframe

In [165]:
df = pd.read_csv(r"IMDB-Movie-Data.csv")

In [149]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [61]:
df.shape

(1000, 12)

In [62]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
Rank                  1000 non-null int64
Title                 1000 non-null object
Genre                 1000 non-null object
Description           1000 non-null object
Director              1000 non-null object
Actors                1000 non-null object
Year                  1000 non-null int64
Runtime (Minutes)     1000 non-null int64
Rating                1000 non-null float64
Votes                 1000 non-null int64
Revenue (Millions)    872 non-null float64
Metascore             936 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.8+ KB

In [64]:
#Looking at the sum of null by columns
df.isna().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [78]:
#Filtering rows using loc
df.loc[df['Metascore'].isna()==True]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
25,26,Paris pieds nus,Comedy,Fiona visits Paris for the first time to assis...,Dominique Abel,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",2016,83,6.8,222,NaN,NaN
26,27,Bahubali: The Beginning,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.50,NaN
27,28,Dead Awake,"Horror,Thriller",A young woman must save herself and her friend...,Phillip Guzman,"Jocelin Donahue, Jesse Bradford, Jesse Borrego...",2016,99,4.7,523,0.01,NaN
39,40,5- 25- 77,"Comedy,Drama","Alienated, hopeful-filmmaker Pat Johnson's epi...",Patrick Read Johnson,"John Francis Daley, Austin Pendleton, Colleen ...",2007,113,7.1,241,NaN,NaN
42,43,Don't Fuck in the Woods,Horror,A group of friends are going on a camping trip...,Shawn Burkett,"Brittany Blanton, Ayse Howard, Roman Jossart,N...",2016,73,2.7,496,NaN,NaN
47,48,Fallen,"Adventure,Drama,Fantasy",A young girl finds herself in a reform school ...,Scott Hicks,"Hermione Corfield, Addison Timlin, Joely Richa...",2016,91,5.6,5103,NaN,NaN
103,104,Contratiempo,"Crime,Mystery,Thriller",A young businessman faces a lawyer trying to p...,Oriol Paulo,"Mario Casas, Ana Wagener, José Coronado, Bárba...",2016,106,7.9,7204,NaN,NaN
117,118,Dangal,"Action,Biography,Drama",Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",2016,161,8.8,48969,11.15,NaN
123,124,Boyka: Undisputed IV,Action,In the fourth installment of the fighting fran...,Todor Chapkanov,"Scott Adkins, Teodora Duhovnikova, Alon Aboutb...",2016,86,7.4,10428,NaN,NaN
154,155,Twin Peaks: The Missing Pieces,"Drama,Horror,Mystery",Twin Peaks before Twin Peaks (1990) and at the...,David Lynch,"Chris Isaak, Kiefer Sutherland, C.H. Evans, Sa...",2014,91,8.1,1973,NaN,NaN
183,184,Realive,Sci-Fi,Marc (Tom Hughes) is diagnosed with a disease ...,Mateo Gil,"Tom Hughes, Charlotte Le Bon, Oona Chaplin, Ba...",2016,112,5.9,1176,NaN,NaN
196,197,Hacker,"Crime,Drama,Thriller",With the help of his new friends Alex Danyliuk...,Akan Satayev,"Callan McAuliffe, Lorraine Nicholson, Daniel E...",2016,95,6.3,3799,NaN,NaN
269,270,Satanic,Horror,Four friends on their way to Coachella stop of...,Jeffrey G. Hunt,"Sarah Hyland, Steven Krueger, Justin Chon, Cla...",2016,85,3.7,2384,NaN,NaN
274,275,Ballerina,"Animation,Adventure,Comedy",An orphan girl dreams of becoming a ballerina ...,Eric Summer,"Elle Fanning, Dane DeHaan, Carly Rae Jepsen, M...",2016,89,6.8,4729,NaN,NaN
282,283,Death Proof,Thriller,Two separate sets of voluptuous women are stal...,Quentin Tarantino,"Kurt Russell, Zoë Bell, Rosario Dawson, Vaness...",2007,113,7.1,220236,NaN,NaN
289,290,Iris,Thriller,"Iris, young wife of a businessman, disappears ...",Jalil Lespert,"Romain Duris, Charlotte Le Bon, Jalil Lespert,...",2016,99,6.1,726,NaN,NaN
293,294,The Exception,Drama,A German soldier tries to determine if the Dut...,David Leveaux,"Lily James, Jai Courtney, Christopher Plummer,...",2016,107,7.7,96,NaN,NaN
307,308,Vincent N Roxxy,"Crime,Drama,Thriller",A small town loner and a rebellious punk rocke...,Gary Michael Schultz,"Emile Hirsch, Zoë Kravitz, Zoey Deutch,Emory C...",2016,110,5.5,403,NaN,NaN
317,318,The Stakelander,"Action,Horror",When his home of New Eden is destroyed by a re...,Dan Berk,"Connor Paolo, Nick Damici, Laura Abramsen, A.C...",2016,81,5.3,1263,NaN,NaN
335,336,Before I Wake,"Drama,Fantasy,Horror",A young couple adopt an orphaned child whose d...,Mike Flanagan,"Kate Bosworth, Thomas Jane, Jacob Tremblay,Ann...",2016,97,6.1,18201,NaN,NaN
356,357,Demain tout commence,"Comedy,Drama",Samuel parties hard in the Marseille area of F...,Hugo Gélin,"Omar Sy, Clémence Poésy, Antoine Bertrand, Ash...",2016,118,7.4,5496,NaN,NaN
367,368,American Wrestler: The Wizard,"Drama,Sport","In 1980, a teenage boy escapes the unrest in I...",Alex Ranarivelo,"William Fichtner, Jon Voight, Lia Marie Johnso...",2016,117,6.9,286,NaN,NaN
402,403,Bronson,"Action,Biography,Crime",A young man who was sentenced to seven years i...,Nicolas Winding Refn,"Tom Hardy, Kelly Adams, Luing Andrews,Katy Barker",2008,92,7.1,93972,0.10,NaN
417,418,Atonement,"Drama,Mystery,Romance","Fledgling writer Briony Tallis, as a thirteen-...",Joe Wright,"Keira Knightley, James McAvoy, Brenda Blethyn,...",2007,123,7.8,202890,50.92,NaN
429,430,The Purge: Election Year,"Action,Horror,Sci-Fi",Former Police Sergeant Barnes becomes head of ...,James DeMonaco,"Frank Grillo, Elizabeth Mitchell, Mykelti Will...",2016,109,6.0,54216,79.00,NaN
435,436,Filth,"Comedy,Crime,Drama","A corrupt, junkie cop with bipolar disorder at...",Jon S. Baird,"James McAvoy, Jamie Bell, Eddie Marsan, Imogen...",2013,97,7.1,81301,0.03,NaN
445,446,Silent Hill,"Adventure,Horror,Mystery","A woman, Rose, goes in search for her adopted ...",Christophe Gans,"Radha Mitchell, Laurie Holden, Sean Bean,Debor...",2006,125,6.6,184152,46.98,NaN
484,485,Angry Birds,"Animation,Action,Adventure",Find out why the birds are so angry. When an i...,Clay Kaytis,"Jason Sudeikis, Josh Gad, Danny McBride, Maya ...",2016,97,6.3,55781,107.51,NaN
523,524,Whiskey Tango Foxtrot,"Biography,Comedy,Drama",A journalist recounts her wartime coverage in ...,Glenn Ficarra,"Tina Fey, Margot Robbie, Martin Freeman, Alfre...",2016,112,6.6,36156,NaN,NaN
526,527,Elysium,"Action,Drama,Sci-Fi","In the year 2154, the very wealthy live on a m...",Neill Blomkamp,"Matt Damon, Jodie Foster, Sharlto Copley, Alic...",2013,109,6.6,358932,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
606,607,Winter's Bone,Drama,An unflinching Ozark Mountain girl hacks throu...,Debra Granik,"Jennifer Lawrence, John Hawkes, Garret Dillahu...",2010,100,7.2,116435,NaN,NaN
617,618,Free State of Jones,"Action,Biography,Drama",A disillusioned Confederate army deserter retu...,Gary Ross,"Matthew McConaughey, Gugu Mbatha-Raw, Mahersha...",2016,139,6.9,29895,NaN,NaN
628,629,The Whole Truth,"Crime,Drama,Mystery",A defense attorney works to get his teenage cl...,Courtney Hunt,"Keanu Reeves, Renée Zellweger, Gugu Mbatha-Raw...",2016,93,6.1,10700,NaN,NaN
634,635,WALL·E,"Animation,Adventure,Family","In the distant future, a small waste-collectin...",Andrew Stanton,"Ben Burtt, Elissa Knight, Jeff Garlin, Fred Wi...",2008,98,8.4,776897,223.81,NaN
645,646,Gran Torino,Drama,Disgruntled Korean War veteran Walt Kowalski s...,Clint Eastwood,"Clint Eastwood, Bee Vang, Christopher Carley,A...",2008,116,8.2,595779,148.09,NaN
648,649,Sleeping Beauty,"Drama,Romance","A haunting portrait of Lucy, a young universit...",Julia Leigh,"Emily Browning, Rachael Blake, Ewen Leslie, Br...",2011,101,5.3,27006,0.03,NaN
692,693,Genius,"Biography,Drama",A chronicle of Max Perkins's time as the book ...,Michael Grandage,"Colin Firth, Jude Law, Nicole Kidman, Laura Li...",2016,104,6.5,10708,1.36,NaN
696,697,10 Years,"Comedy,Drama,Romance","The night before their high school reunion, a ...",Jamie Linden,"Channing Tatum, Rosario Dawson, Chris Pratt, J...",2011,100,6.1,19636,0.20,NaN
700,701,Funny Games,"Crime,Drama,Horror",Two psychopathic young men take a family hosta...,Michael Haneke,"Naomi Watts, Tim Roth, Michael Pitt, Brady Corbet",2007,111,6.5,73835,1.29,NaN
706,707,The Adjustment Bureau,"Romance,Sci-Fi,Thriller",The affair between a politician and a contempo...,George Nolfi,"Matt Damon, Emily Blunt, Lisa Thoreson, Floren...",2011,106,7.1,208632,62.45,NaN
747,748,Rules Don't Apply,"Comedy,Drama,Romance",The unconventional love story of an aspiring a...,Warren Beatty,"Lily Collins, Haley Bennett, Taissa Farmiga, S...",2016,127,5.7,3731,3.65,NaN
755,756,The Road,"Adventure,Drama","In a dangerous post-apocalyptic world, an aili...",John Hillcoat,"Viggo Mortensen, Charlize Theron, Kodi Smit-Mc...",2009,111,7.3,187302,0.06,NaN
758,759,Conan the Barbarian,"Action,Adventure,Fantasy",A vengeful barbarian warrior sets off to get h...,Marcus Nispel,"Jason Momoa, Ron Perlman, Rose McGowan,Stephen...",2011,113,5.2,84893,21.27,NaN
766,767,Ender's Game,"Action,Sci-Fi",Young Ender Wiggin is recruited by the Interna...,Gavin Hood,"Harrison Ford, Asa Butterfield, Hailee Steinfe...",2013,114,6.7,194236,61.66,NaN
778,779,Chalk It Up,Comedy,When a super girly-girl is dumped by her boyfr...,Hisonni Johnson,"Maddy Curley, John DeLuca, Nikki SooHoo, Drew ...",2016,90,4.8,499,NaN,NaN
779,780,The Man Who Knew Infinity,"Biography,Drama",The story of the life and academic career of t...,Matt Brown,"Dev Patel, Jeremy Irons, Malcolm Sinclair, Rag...",2015,108,7.2,29912,3.86,NaN
820,821,Suite Française,"Drama,Romance,War",During the early years of Nazi occupation of F...,Saul Dibb,"Michelle Williams, Kristin Scott Thomas, Margo...",2014,107,6.9,13711,NaN,NaN
826,827,Shut In,"Drama,Horror,Thriller",A heart-pounding thriller about a widowed chil...,Farren Blackburn,"Naomi Watts, Charlie Heaton, Jacob Tremblay,Ol...",2016,91,4.6,5715,6.88,NaN
828,829,Grindhouse,"Action,Horror,Thriller",Quentin Tarantino and Robert Rodriguez's homag...,Robert Rodriguez,"Kurt Russell, Rose McGowan, Danny Trejo, Zoë Bell",2007,191,7.6,160350,25.03,NaN
891,892,This Is 40,"Comedy,Romance","Pete and Debbie are both about to turn 40, the...",Judd Apatow,"Paul Rudd, Leslie Mann, Maude Apatow, Iris Apatow",2012,134,6.2,108156,67.52,NaN
896,897,Concussion,"Biography,Drama,Sport","In Pittsburgh, accomplished pathologist Dr. Be...",Peter Landesman,"Will Smith, Alec Baldwin, Albert Brooks, David...",2015,123,7.1,61274,34.53,NaN
929,930,The Master,Drama,A Naval veteran arrives home from war unsettle...,Paul Thomas Anderson,"Philip Seymour Hoffman, Joaquin Phoenix,Amy Ad...",2012,144,7.1,112902,16.38,NaN
939,940,Up in the Air,"Drama,Romance",Ryan Bingham enjoys living out of a suitcase f...,Jason Reitman,"George Clooney, Vera Farmiga, Anna Kendrick,Ja...",2009,109,7.4,279694,83.81,NaN
946,947,The Butler,"Biography,Drama",As Cecil Gaines serves eight presidents during...,Lee Daniels,"Forest Whitaker, Oprah Winfrey, John Cusack, J...",2013,132,7.2,93322,116.63,NaN
965,966,Inland Empire,"Drama,Mystery,Thriller",As an actress starts to adopt the persona of h...,David Lynch,"Laura Dern, Jeremy Irons, Justin Theroux, Karo...",2006,180,7.0,44227,NaN,NaN
967,968,The Walk,"Adventure,Biography,Crime","In 1974, high-wire artist Philippe Petit recru...",Robert Zemeckis,"Joseph Gordon-Levitt, Charlotte Le Bon,Guillau...",2015,123,7.3,92378,10.14,NaN
969,970,The Lone Ranger,"Action,Adventure,Western",Native American warrior Tonto recounts the unt...,Gore Verbinski,"Johnny Depp, Armie Hammer, William Fichtner,To...",2013,150,6.5,190855,89.29,NaN
971,972,Disturbia,"Drama,Mystery,Thriller",A teen living under house arrest becomes convi...,D.J. Caruso,"Shia LaBeouf, David Morse, Carrie-Anne Moss, S...",2007,105,6.9,193491,80.05,NaN
989,990,Selma,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.07,NaN
992,993,Take Me Home Tonight,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.92,NaN

In [74]:
#Describe - gives me the statistical information about the numberical columns
df.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [79]:
df.shape

(1000, 12)

In [92]:
#Duplicates:
duplicated_df = df.append(df)

In [81]:
duplicated_df.shape

(2000, 12)

In [82]:
duplicated_df.loc[duplicated_df['Title'] == "Bahubali: The Beginning"]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
26,27,Bahubali: The Beginning,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.5,NaN
26,27,Bahubali: The Beginning,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.5,NaN

In [88]:
duplicated_df.isna().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [86]:
duplicated_df.drop_duplicates(inplace = True)

In [87]:
duplicated_df.shape

(1000, 12)

In [90]:
duplicated_df.dropna(subset = ['Metascore'],inplace = True)

In [91]:
duplicated_df.shape

(936, 12)

In [140]:
duplicated_df.duplicated()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
970     True
971     True
972     True
973     True
974     True
975     True
976     True
977     True
978     True
979     True
980     True
981     True
982     True
983     True
984     True
985     True
986     True
987     True
988     True
989     True
990     True
991     True
992     True
993     True
994     True
995     True
996     True
997     True
998     True
999     True
Length: 2000, dtype: bool

In [98]:
address = pd.read_csv("https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/addresses.csv")

In [99]:
address.head()

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US

In [143]:
address['city'].value_counts()

Redwood City           8
San Mateo              5
Menlo Park             3
San Francisco          2
Belmont                1
Sunnyvale              1
South San Francisco    1
Name: city, dtype: int64

In [142]:
address['city'].unique()

array(['Redwood City', 'San Mateo', 'Menlo Park', 'San Francisco',
       'Sunnyvale', 'South San Francisco', 'Belmont'], dtype=object)

In [103]:
address['city'].nunique()

7

In [145]:
address['postal_code'].value_counts().loc[address['postal_code'].value_counts().values>1]

94063         6
94401         3
94025-9881    2
94403         2
Name: postal_code, dtype: int64

In [144]:
address.loc[(address['postal_code'].isin(['94063','94401'])) & (address['address_2'].isna()==False),['postal_code','country']]

   postal_code country
11       94063      US

In [115]:
address.loc[(address['postal_code'].isin(['94063','94401'])) | (address['address_2'].isna()==False)]

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
8,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
9,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
11,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
13,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [147]:
df

,rank_new,title,genre,description,director,actors,year,runtime (minutes),rating,votes,revenue (millions),metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0
10,11,Fantastic Beasts and Where to Find Them,"Adventure,Family,Fantasy",The adventures of writer Newt Scamander in New...,David Yates,"Eddie Redmayne, Katherine Waterston, Alison Su...",2016,133,7.5,232072,234.02,66.0
11,12,Hidden Figures,"Biography,Drama,History",The story of a team of female African-American...,Theodore Melfi,"Taraji P. Henson, Octavia Spencer, Janelle Mon...",2016,127,7.8,93103,169.27,74.0
12,13,Rogue One,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17,65.0
13,14,Moana,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,"Auli'i Cravalho, Dwayne Johnson, Rachel House,...",2016,107,7.7,118151,248.75,81.0
14,15,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,"Anne Hathaway, Jason Sudeikis, Austin Stowell,...",2016,109,6.4,8612,2.87,70.0
15,16,The Secret Life of Pets,"Animation,Adventure,Comedy",The quiet life of a terrier named Max is upend...,Chris Renaud,"Louis C.K., Eric Stonestreet, Kevin Hart, Lake...",2016,87,6.6,120259,368.31,61.0
16,17,Hacksaw Ridge,"Biography,Drama,History","WWII American Army Medic Desmond T. Doss, who ...",Mel Gibson,"Andrew Garfield, Sam Worthington, Luke Bracey,...",2016,139,8.2,211760,67.12,71.0
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0
18,19,Lion,"Biography,Drama",A five-year-old Indian boy gets lost on the st...,Garth Davis,"Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...",2016,118,8.1,102061,51.69,69.0
19,20,Arrival,"Drama,Mystery,Sci-Fi",When twelve mysterious spacecraft appear aroun...,Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",2016,116,8.0,340798,100.50,81.0
20,21,Gold,"Adventure,Drama,Thriller","Kenny Wells, a prospector desperate for a luck...",Stephen Gaghan,"Matthew McConaughey, Edgar Ramírez, Bryce Dall...",2016,120,6.7,19053,7.22,49.0
21,22,Manchester by the Sea,Drama,A depressed uncle is asked to take care of his...,Kenneth Lonergan,"Casey Affleck, Michelle Williams, Kyle Chandle...",2016,137,7.9,134213,47.70,96.0
22,23,Hounds of Love,"Crime,Drama,Horror",A cold-blooded predatory couple while cruising...,Ben Young,"Emma Booth, Ashleigh Cummings, Stephen Curry,S...",2016,108,6.7,1115,NaN,72.0
23,24,Trolls,"Animation,Adventure,Comedy","After the Bergens invade Troll Village, Poppy,...",Walt Dohrn,"Anna Kendrick, Justin Timberlake,Zooey Deschan...",2016,92,6.5,38552,153.69,56.0
24,25,Independence Day: Resurgence,"Action,Adventure,Sci-Fi",Two decades after the first Independence Day i...,Roland Emmerich,"Liam Hemsworth, Jeff Goldblum, Bill Pullman,Ma...",2016,120,5.3,127553,103.14,32.0
25,26,Paris pieds nus,Comedy,Fiona visits Paris for the first time to assis...,Dominique Abel,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",2016,83,6.8,222,NaN,NaN
26,27,Bahubali: The Beginning,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.50,NaN
27,28,Dead Awake,"Horror,Thriller",A young woman must save herself and her friend...,Phillip Guzman,"Jocelin Donahue, Jesse Bradford, Jesse Borrego...",2016,99,4.7,523,0.01,NaN
28,29,Bad Moms,Comedy,When three overworked and under-appreciated mo...,Jon Lucas,"Mila Kunis, Kathryn Hahn, Kristen Bell,Christi...",2016,100,6.2,66540,113.08,60.0
29,30,Assassin's Creed,"Action,Adventure,Drama",When Callum Lynch explores the memories of his...,Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",2016,115,5.9,112813,54.65,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...
970,971,Texas Chainsaw 3D,"Horror,Thriller",A young woman travels to Texas to collect an i...,John Luessenhop,"Alexandra Daddario, Tania Raymonde, Scott East...",2013,92,4.8,37060,34.33,62.0
971,972,Disturbia,"Drama,Mystery,Thriller",A teen living under house arrest becomes convi...,D.J. Caruso,"Shia LaBeouf, David Morse, Carrie-Anne Moss, S...",2007,105,6.9,193491,80.05,NaN
972,973,Rock of Ages,"Comedy,Drama,Musical",A small town girl and a city boy meet on the S...,Adam Shankman,"Julianne Hough, Diego Boneta, Tom Cruise, Alec...",2012,123,5.9,64513,38.51,47.0
973,974,Scream 4,"Horror,Mystery","Ten years have passed, and Sidney Prescott, wh...",Wes Craven,"Neve Campbell, Courteney Cox, David Arquette, ...",2011,111,6.2,108544,38.18,52.0
974,975,Queen of Katwe,"Biography,Drama,Sport",A Ugandan girl sees her world rapidly change a...,Mira Nair,"Madina Nalwanga, David Oyelowo, Lupita Nyong'o...",2016,124,7.4,6753,8.81,73.0
975,976,My Big Fat Greek Wedding 2,"Comedy,Family,Romance",A Portokalos family secret brings the beloved ...,Kirk Jones,"Nia Vardalos, John Corbett, Michael Constantin...",2016,94,6.0,20966,59.57,37.0
976,977,Dark Places,"Drama,Mystery,Thriller",Libby Day was only eight years old when her fa...,Gilles Paquet-Brenner,"Charlize Theron, Nicholas Hoult, Christina Hen...",2015,113,6.2,31634,NaN,39.0
977,978,Amateur Night,Comedy,Guy Carter is an award-winning graduate studen...,Lisa Addario,"Jason Biggs, Janet Montgomery,Ashley Tisdale, ...",2016,92,5.0,2229,NaN,38.0
978,979,It's Only the End of the World,Drama,"Louis (Gaspard Ulliel), a terminally ill write...",Xavier Dolan,"Nathalie Baye, Vincent Cassel, Marion Cotillar...",2016,97,7.0,10658,NaN,48.0
979,980,The Skin I Live In,"Drama,Thriller","A brilliant plastic surgeon, haunted by past t...",Pedro Almodóvar,"Antonio Banderas, Elena Anaya, Jan Cornet,Mari...",2011,120,7.6,108772,3.19,70.0
980,981,Miracles from Heaven,"Biography,Drama,Family",A young girl suffering from a rare digestive d...,Patricia Riggen,"Jennifer Garner, Kylie Rogers, Martin Henderso...",2016,109,7.0,12048,61.69,44.0
981,982,Annie,"Comedy,Drama,Family","A foster kid, who lives with her mean foster m...",Will Gluck,"Quvenzhané Wallis, Cameron Diaz, Jamie Foxx, R...",2014,118,5.3,27312,85.91,33.0
982,983,Across the Universe,"Drama,Fantasy,Musical",The music of the Beatles and the Vietnam War f...,Julie Taymor,"Evan Rachel Wood, Jim Sturgess, Joe Anderson, ...",2007,133,7.4,95172,24.34,56.0
983,984,Let's Be Cops,Comedy,Two struggling pals dress as police officers f...,Luke Greenfield,"Jake Johnson, Damon Wayans Jr., Rob Riggle, Ni...",2014,104,6.5,112729,82.39,30.0
984,985,Max,"Adventure,Family",A Malinois dog that helped American Marines in...,Boaz Yakin,"Thomas Haden Church, Josh Wiggins, Luke Kleint...",2015,111,6.8,21405,42.65,47.0
985,986,Your Highness,"Adventure,Comedy,Fantasy","When Prince Fabious's bride is kidnapped, he g...",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",2011,102,5.6,87904,21.56,31.0
986,987,Final Destination 5,"Horror,Thriller",Survivors of a suspension-bridge collapse lear...,Steven Quale,"Nicholas D'Agosto, Emma Bell, Arlen Escarpeta,...",2011,92,5.9,88000,42.58,50.0
987,988,Endless Love,"Drama,Romance",The story of a privileged girl and a charismat...,Shana Feste,"Gabriella Wilde, Alex Pettyfer, Bruce Greenwoo...",2014,104,6.3,33688,23.39,30.0
988,989,Martyrs,Horror,A young woman's quest for revenge against the ...,Pascal Laugier,"Morjana Alaoui, Mylène Jampanoï, Catherine Bég...",2008,99,7.1,63785,NaN,89.0
989,990,Selma,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.07,NaN
990,991,Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,"Rhona Mitra, Michael Sheen, Bill Nighy, Steven...",2009,92,6.6,129708,45.80,44.0
991,992,Taare Zameen Par,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0
992,993,Take Me Home Tonight,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.92,NaN
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
994,995,Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [150]:
df.columns.values

array(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors',
       'Year', 'Runtime (Minutes)', 'Rating', 'Votes',
       'Revenue (Millions)', 'Metascore'], dtype=object)

In [151]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [152]:
lst_columns = list(df.columns.values)

In [153]:
lst_columns

['Rank',
 'Title',
 'Genre',
 'Description',
 'Director',
 'Actors',
 'Year',
 'Runtime (Minutes)',
 'Rating',
 'Votes',
 'Revenue (Millions)',
 'Metascore']

In [155]:
word_lower = [] #an empty list 
print(word_lower)
for i in lst_columns:
    print(i)
    i= i.lower()
    print(i)
    word_lower.append(i)
print(word_lower)

[]
Rank
rank
Title
title
Genre
genre
Description
description
Director
director
Actors
actors
Year
year
Runtime (Minutes)
runtime (minutes)
Rating
rating
Votes
votes
Revenue (Millions)
revenue (millions)
Metascore
metascore
['rank', 'title', 'genre', 'description', 'director', 'actors', 'year', 'runtime (minutes)', 'rating', 'votes', 'revenue (millions)', 'metascore']

In [128]:
df.columns = word_lower

In [129]:
df

,rank,title,genre,description,director,actors,year,runtime (minutes),rating,votes,revenue (millions),metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0
10,11,Fantastic Beasts and Where to Find Them,"Adventure,Family,Fantasy",The adventures of writer Newt Scamander in New...,David Yates,"Eddie Redmayne, Katherine Waterston, Alison Su...",2016,133,7.5,232072,234.02,66.0
11,12,Hidden Figures,"Biography,Drama,History",The story of a team of female African-American...,Theodore Melfi,"Taraji P. Henson, Octavia Spencer, Janelle Mon...",2016,127,7.8,93103,169.27,74.0
12,13,Rogue One,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17,65.0
13,14,Moana,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,"Auli'i Cravalho, Dwayne Johnson, Rachel House,...",2016,107,7.7,118151,248.75,81.0
14,15,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,"Anne Hathaway, Jason Sudeikis, Austin Stowell,...",2016,109,6.4,8612,2.87,70.0
15,16,The Secret Life of Pets,"Animation,Adventure,Comedy",The quiet life of a terrier named Max is upend...,Chris Renaud,"Louis C.K., Eric Stonestreet, Kevin Hart, Lake...",2016,87,6.6,120259,368.31,61.0
16,17,Hacksaw Ridge,"Biography,Drama,History","WWII American Army Medic Desmond T. Doss, who ...",Mel Gibson,"Andrew Garfield, Sam Worthington, Luke Bracey,...",2016,139,8.2,211760,67.12,71.0
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0
18,19,Lion,"Biography,Drama",A five-year-old Indian boy gets lost on the st...,Garth Davis,"Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...",2016,118,8.1,102061,51.69,69.0
19,20,Arrival,"Drama,Mystery,Sci-Fi",When twelve mysterious spacecraft appear aroun...,Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",2016,116,8.0,340798,100.50,81.0
20,21,Gold,"Adventure,Drama,Thriller","Kenny Wells, a prospector desperate for a luck...",Stephen Gaghan,"Matthew McConaughey, Edgar Ramírez, Bryce Dall...",2016,120,6.7,19053,7.22,49.0
21,22,Manchester by the Sea,Drama,A depressed uncle is asked to take care of his...,Kenneth Lonergan,"Casey Affleck, Michelle Williams, Kyle Chandle...",2016,137,7.9,134213,47.70,96.0
22,23,Hounds of Love,"Crime,Drama,Horror",A cold-blooded predatory couple while cruising...,Ben Young,"Emma Booth, Ashleigh Cummings, Stephen Curry,S...",2016,108,6.7,1115,NaN,72.0
23,24,Trolls,"Animation,Adventure,Comedy","After the Bergens invade Troll Village, Poppy,...",Walt Dohrn,"Anna Kendrick, Justin Timberlake,Zooey Deschan...",2016,92,6.5,38552,153.69,56.0
24,25,Independence Day: Resurgence,"Action,Adventure,Sci-Fi",Two decades after the first Independence Day i...,Roland Emmerich,"Liam Hemsworth, Jeff Goldblum, Bill Pullman,Ma...",2016,120,5.3,127553,103.14,32.0
25,26,Paris pieds nus,Comedy,Fiona visits Paris for the first time to assis...,Dominique Abel,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",2016,83,6.8,222,NaN,NaN
26,27,Bahubali: The Beginning,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.50,NaN
27,28,Dead Awake,"Horror,Thriller",A young woman must save herself and her friend...,Phillip Guzman,"Jocelin Donahue, Jesse Bradford, Jesse Borrego...",2016,99,4.7,523,0.01,NaN
28,29,Bad Moms,Comedy,When three overworked and under-appreciated mo...,Jon Lucas,"Mila Kunis, Kathryn Hahn, Kristen Bell,Christi...",2016,100,6.2,66540,113.08,60.0
29,30,Assassin's Creed,"Action,Adventure,Drama",When Callum Lynch explores the memories of his...,Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",2016,115,5.9,112813,54.65,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...
970,971,Texas Chainsaw 3D,"Horror,Thriller",A young woman travels to Texas to collect an i...,John Luessenhop,"Alexandra Daddario, Tania Raymonde, Scott East...",2013,92,4.8,37060,34.33,62.0
971,972,Disturbia,"Drama,Mystery,Thriller",A teen living under house arrest becomes convi...,D.J. Caruso,"Shia LaBeouf, David Morse, Carrie-Anne Moss, S...",2007,105,6.9,193491,80.05,NaN
972,973,Rock of Ages,"Comedy,Drama,Musical",A small town girl and a city boy meet on the S...,Adam Shankman,"Julianne Hough, Diego Boneta, Tom Cruise, Alec...",2012,123,5.9,64513,38.51,47.0
973,974,Scream 4,"Horror,Mystery","Ten years have passed, and Sidney Prescott, wh...",Wes Craven,"Neve Campbell, Courteney Cox, David Arquette, ...",2011,111,6.2,108544,38.18,52.0
974,975,Queen of Katwe,"Biography,Drama,Sport",A Ugandan girl sees her world rapidly change a...,Mira Nair,"Madina Nalwanga, David Oyelowo, Lupita Nyong'o...",2016,124,7.4,6753,8.81,73.0
975,976,My Big Fat Greek Wedding 2,"Comedy,Family,Romance",A Portokalos family secret brings the beloved ...,Kirk Jones,"Nia Vardalos, John Corbett, Michael Constantin...",2016,94,6.0,20966,59.57,37.0
976,977,Dark Places,"Drama,Mystery,Thriller",Libby Day was only eight years old when her fa...,Gilles Paquet-Brenner,"Charlize Theron, Nicholas Hoult, Christina Hen...",2015,113,6.2,31634,NaN,39.0
977,978,Amateur Night,Comedy,Guy Carter is an award-winning graduate studen...,Lisa Addario,"Jason Biggs, Janet Montgomery,Ashley Tisdale, ...",2016,92,5.0,2229,NaN,38.0
978,979,It's Only the End of the World,Drama,"Louis (Gaspard Ulliel), a terminally ill write...",Xavier Dolan,"Nathalie Baye, Vincent Cassel, Marion Cotillar...",2016,97,7.0,10658,NaN,48.0
979,980,The Skin I Live In,"Drama,Thriller","A brilliant plastic surgeon, haunted by past t...",Pedro Almodóvar,"Antonio Banderas, Elena Anaya, Jan Cornet,Mari...",2011,120,7.6,108772,3.19,70.0
980,981,Miracles from Heaven,"Biography,Drama,Family",A young girl suffering from a rare digestive d...,Patricia Riggen,"Jennifer Garner, Kylie Rogers, Martin Henderso...",2016,109,7.0,12048,61.69,44.0
981,982,Annie,"Comedy,Drama,Family","A foster kid, who lives with her mean foster m...",Will Gluck,"Quvenzhané Wallis, Cameron Diaz, Jamie Foxx, R...",2014,118,5.3,27312,85.91,33.0
982,983,Across the Universe,"Drama,Fantasy,Musical",The music of the Beatles and the Vietnam War f...,Julie Taymor,"Evan Rachel Wood, Jim Sturgess, Joe Anderson, ...",2007,133,7.4,95172,24.34,56.0
983,984,Let's Be Cops,Comedy,Two struggling pals dress as police officers f...,Luke Greenfield,"Jake Johnson, Damon Wayans Jr., Rob Riggle, Ni...",2014,104,6.5,112729,82.39,30.0
984,985,Max,"Adventure,Family",A Malinois dog that helped American Marines in...,Boaz Yakin,"Thomas Haden Church, Josh Wiggins, Luke Kleint...",2015,111,6.8,21405,42.65,47.0
985,986,Your Highness,"Adventure,Comedy,Fantasy","When Prince Fabious's bride is kidnapped, he g...",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",2011,102,5.6,87904,21.56,31.0
986,987,Final Destination 5,"Horror,Thriller",Survivors of a suspension-bridge collapse lear...,Steven Quale,"Nicholas D'Agosto, Emma Bell, Arlen Escarpeta,...",2011,92,5.9,88000,42.58,50.0
987,988,Endless Love,"Drama,Romance",The story of a privileged girl and a charismat...,Shana Feste,"Gabriella Wilde, Alex Pettyfer, Bruce Greenwoo...",2014,104,6.3,33688,23.39,30.0
988,989,Martyrs,Horror,A young woman's quest for revenge against the ...,Pascal Laugier,"Morjana Alaoui, Mylène Jampanoï, Catherine Bég...",2008,99,7.1,63785,NaN,89.0
989,990,Selma,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.07,NaN
990,991,Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,"Rhona Mitra, Michael Sheen, Bill Nighy, Steven...",2009,92,6.6,129708,45.80,44.0
991,992,Taare Zameen Par,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0
992,993,Take Me Home Tonight,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.92,NaN
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
994,995,Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [132]:
df.rename(columns = {'rank':'rank_new'},inplace = True)

In [133]:
df

,rank_new,title,genre,description,director,actors,year,runtime (minutes),rating,votes,revenue (millions),metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0
10,11,Fantastic Beasts and Where to Find Them,"Adventure,Family,Fantasy",The adventures of writer Newt Scamander in New...,David Yates,"Eddie Redmayne, Katherine Waterston, Alison Su...",2016,133,7.5,232072,234.02,66.0
11,12,Hidden Figures,"Biography,Drama,History",The story of a team of female African-American...,Theodore Melfi,"Taraji P. Henson, Octavia Spencer, Janelle Mon...",2016,127,7.8,93103,169.27,74.0
12,13,Rogue One,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17,65.0
13,14,Moana,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,"Auli'i Cravalho, Dwayne Johnson, Rachel House,...",2016,107,7.7,118151,248.75,81.0
14,15,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,"Anne Hathaway, Jason Sudeikis, Austin Stowell,...",2016,109,6.4,8612,2.87,70.0
15,16,The Secret Life of Pets,"Animation,Adventure,Comedy",The quiet life of a terrier named Max is upend...,Chris Renaud,"Louis C.K., Eric Stonestreet, Kevin Hart, Lake...",2016,87,6.6,120259,368.31,61.0
16,17,Hacksaw Ridge,"Biography,Drama,History","WWII American Army Medic Desmond T. Doss, who ...",Mel Gibson,"Andrew Garfield, Sam Worthington, Luke Bracey,...",2016,139,8.2,211760,67.12,71.0
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0
18,19,Lion,"Biography,Drama",A five-year-old Indian boy gets lost on the st...,Garth Davis,"Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...",2016,118,8.1,102061,51.69,69.0
19,20,Arrival,"Drama,Mystery,Sci-Fi",When twelve mysterious spacecraft appear aroun...,Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",2016,116,8.0,340798,100.50,81.0
20,21,Gold,"Adventure,Drama,Thriller","Kenny Wells, a prospector desperate for a luck...",Stephen Gaghan,"Matthew McConaughey, Edgar Ramírez, Bryce Dall...",2016,120,6.7,19053,7.22,49.0
21,22,Manchester by the Sea,Drama,A depressed uncle is asked to take care of his...,Kenneth Lonergan,"Casey Affleck, Michelle Williams, Kyle Chandle...",2016,137,7.9,134213,47.70,96.0
22,23,Hounds of Love,"Crime,Drama,Horror",A cold-blooded predatory couple while cruising...,Ben Young,"Emma Booth, Ashleigh Cummings, Stephen Curry,S...",2016,108,6.7,1115,NaN,72.0
23,24,Trolls,"Animation,Adventure,Comedy","After the Bergens invade Troll Village, Poppy,...",Walt Dohrn,"Anna Kendrick, Justin Timberlake,Zooey Deschan...",2016,92,6.5,38552,153.69,56.0
24,25,Independence Day: Resurgence,"Action,Adventure,Sci-Fi",Two decades after the first Independence Day i...,Roland Emmerich,"Liam Hemsworth, Jeff Goldblum, Bill Pullman,Ma...",2016,120,5.3,127553,103.14,32.0
25,26,Paris pieds nus,Comedy,Fiona visits Paris for the first time to assis...,Dominique Abel,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",2016,83,6.8,222,NaN,NaN
26,27,Bahubali: The Beginning,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.50,NaN
27,28,Dead Awake,"Horror,Thriller",A young woman must save herself and her friend...,Phillip Guzman,"Jocelin Donahue, Jesse Bradford, Jesse Borrego...",2016,99,4.7,523,0.01,NaN
28,29,Bad Moms,Comedy,When three overworked and under-appreciated mo...,Jon Lucas,"Mila Kunis, Kathryn Hahn, Kristen Bell,Christi...",2016,100,6.2,66540,113.08,60.0
29,30,Assassin's Creed,"Action,Adventure,Drama",When Callum Lynch explores the memories of his...,Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",2016,115,5.9,112813,54.65,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...
970,971,Texas Chainsaw 3D,"Horror,Thriller",A young woman travels to Texas to collect an i...,John Luessenhop,"Alexandra Daddario, Tania Raymonde, Scott East...",2013,92,4.8,37060,34.33,62.0
971,972,Disturbia,"Drama,Mystery,Thriller",A teen living under house arrest becomes convi...,D.J. Caruso,"Shia LaBeouf, David Morse, Carrie-Anne Moss, S...",2007,105,6.9,193491,80.05,NaN
972,973,Rock of Ages,"Comedy,Drama,Musical",A small town girl and a city boy meet on the S...,Adam Shankman,"Julianne Hough, Diego Boneta, Tom Cruise, Alec...",2012,123,5.9,64513,38.51,47.0
973,974,Scream 4,"Horror,Mystery","Ten years have passed, and Sidney Prescott, wh...",Wes Craven,"Neve Campbell, Courteney Cox, David Arquette, ...",2011,111,6.2,108544,38.18,52.0
974,975,Queen of Katwe,"Biography,Drama,Sport",A Ugandan girl sees her world rapidly change a...,Mira Nair,"Madina Nalwanga, David Oyelowo, Lupita Nyong'o...",2016,124,7.4,6753,8.81,73.0
975,976,My Big Fat Greek Wedding 2,"Comedy,Family,Romance",A Portokalos family secret brings the beloved ...,Kirk Jones,"Nia Vardalos, John Corbett, Michael Constantin...",2016,94,6.0,20966,59.57,37.0
976,977,Dark Places,"Drama,Mystery,Thriller",Libby Day was only eight years old when her fa...,Gilles Paquet-Brenner,"Charlize Theron, Nicholas Hoult, Christina Hen...",2015,113,6.2,31634,NaN,39.0
977,978,Amateur Night,Comedy,Guy Carter is an award-winning graduate studen...,Lisa Addario,"Jason Biggs, Janet Montgomery,Ashley Tisdale, ...",2016,92,5.0,2229,NaN,38.0
978,979,It's Only the End of the World,Drama,"Louis (Gaspard Ulliel), a terminally ill write...",Xavier Dolan,"Nathalie Baye, Vincent Cassel, Marion Cotillar...",2016,97,7.0,10658,NaN,48.0
979,980,The Skin I Live In,"Drama,Thriller","A brilliant plastic surgeon, haunted by past t...",Pedro Almodóvar,"Antonio Banderas, Elena Anaya, Jan Cornet,Mari...",2011,120,7.6,108772,3.19,70.0
980,981,Miracles from Heaven,"Biography,Drama,Family",A young girl suffering from a rare digestive d...,Patricia Riggen,"Jennifer Garner, Kylie Rogers, Martin Henderso...",2016,109,7.0,12048,61.69,44.0
981,982,Annie,"Comedy,Drama,Family","A foster kid, who lives with her mean foster m...",Will Gluck,"Quvenzhané Wallis, Cameron Diaz, Jamie Foxx, R...",2014,118,5.3,27312,85.91,33.0
982,983,Across the Universe,"Drama,Fantasy,Musical",The music of the Beatles and the Vietnam War f...,Julie Taymor,"Evan Rachel Wood, Jim Sturgess, Joe Anderson, ...",2007,133,7.4,95172,24.34,56.0
983,984,Let's Be Cops,Comedy,Two struggling pals dress as police officers f...,Luke Greenfield,"Jake Johnson, Damon Wayans Jr., Rob Riggle, Ni...",2014,104,6.5,112729,82.39,30.0
984,985,Max,"Adventure,Family",A Malinois dog that helped American Marines in...,Boaz Yakin,"Thomas Haden Church, Josh Wiggins, Luke Kleint...",2015,111,6.8,21405,42.65,47.0
985,986,Your Highness,"Adventure,Comedy,Fantasy","When Prince Fabious's bride is kidnapped, he g...",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",2011,102,5.6,87904,21.56,31.0
986,987,Final Destination 5,"Horror,Thriller",Survivors of a suspension-bridge collapse lear...,Steven Quale,"Nicholas D'Agosto, Emma Bell, Arlen Escarpeta,...",2011,92,5.9,88000,42.58,50.0
987,988,Endless Love,"Drama,Romance",The story of a privileged girl and a charismat...,Shana Feste,"Gabriella Wilde, Alex Pettyfer, Bruce Greenwoo...",2014,104,6.3,33688,23.39,30.0
988,989,Martyrs,Horror,A young woman's quest for revenge against the ...,Pascal Laugier,"Morjana Alaoui, Mylène Jampanoï, Catherine Bég...",2008,99,7.1,63785,NaN,89.0
989,990,Selma,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.07,NaN
990,991,Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,"Rhona Mitra, Michael Sheen, Bill Nighy, Steven...",2009,92,6.6,129708,45.80,44.0
991,992,Taare Zameen Par,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0
992,993,Take Me Home Tonight,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.92,NaN
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
994,995,Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [157]:
for i in df:
    print(i)

Rank
Title
Genre
Description
Director
Actors
Year
Runtime (Minutes)
Rating
Votes
Revenue (Millions)
Metascore

In [135]:
for i in df.values:
    print(i)

[1 'Guardians of the Galaxy' 'Action,Adventure,Sci-Fi'
 'A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.'
 'James Gunn' 'Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana' 2014
 121 8.1 757074 333.13 76.0]
[2 'Prometheus' 'Adventure,Mystery,Sci-Fi'
 'Following clues to the origin of mankind, a team finds a structure on a distant moon, but they soon realize they are not alone.'
 'Ridley Scott'
 'Noomi Rapace, Logan Marshall-Green, Michael Fassbender, Charlize Theron'
 2012 124 7.0 485820 126.46 65.0]
[3 'Split' 'Horror,Thriller'
 'Three girls are kidnapped by a man with a diagnosed 23 distinct personalities. They must try to escape before the apparent emergence of a frightful new 24th.'
 'M. Night Shyamalan'
 'James McAvoy, Anya Taylor-Joy, Haley Lu Richardson, Jessica Sula' 2016
 117 7.3 157606 138.12 62.0]
[4 'Sing' 'Animation,Comedy,Family'
 "In a city of humanoid animals, a hustling theater impresario's attempt to save his theater with a singing competition becomes grander than he anticipates even as its finalists' find that their lives will never be the same."
 'Christophe Lourdelet'
 'Matthew McConaughey,Reese Witherspoon, Seth MacFarlane, Scarlett Johansson'
 2016 108 7.2 60545 270.32 59.0]
[5 'Suicide Squad' 'Action,Adventure,Fantasy'
 'A secret government agency recruits some of the most dangerous incarcerated super-villains to form a defensive task force. Their first mission: save the world from the apocalypse.'
 'David Ayer' 'Will Smith, Jared Leto, Margot Robbie, Viola Davis' 2016
 123 6.2 393727 325.02 40.0]
[6 'The Great Wall' 'Action,Adventure,Fantasy'
 'European mercenaries searching for black powder become embroiled in the defense of the Great Wall of China against a horde of monstrous creatures.'
 'Yimou Zhang' 'Matt Damon, Tian Jing, Willem Dafoe, Andy Lau' 2016 103
 6.1 56036 45.13 42.0]
[7 'La La Land' 'Comedy,Drama,Music'
 'A jazz pianist falls for an aspiring actress in Los Angeles.'
 'Damien Chazelle'
 'Ryan Gosling, Emma Stone, Rosemarie DeWitt, J.K. Simmons' 2016 128 8.3
 258682 151.06 93.0]
[8 'Mindhorn' 'Comedy'
 'A has-been actor best known for playing the title character in the 1980s detective series "Mindhorn" must work with the police when a serial killer says that he will only speak with Detective Mindhorn, whom he believes to be a real person.'
 'Sean Foley'
 'Essie Davis, Andrea Riseborough, Julian Barratt,Kenneth Branagh' 2016 89
 6.4 2490 nan 71.0]
[9 'The Lost City of Z' 'Action,Adventure,Biography'
 'A true-life drama, centering on British explorer Col. Percival Fawcett, who disappeared while searching for a mysterious city in the Amazon in the 1920s.'
 'James Gray'
 'Charlie Hunnam, Robert Pattinson, Sienna Miller, Tom Holland' 2016 141
 7.1 7188 8.01 78.0]
[10 'Passengers' 'Adventure,Drama,Romance'
 'A spacecraft traveling to a distant colony planet and transporting thousands of people has a malfunction in its sleep chambers. As a result, two passengers are awakened 90 years early.'
 'Morten Tyldum'
 'Jennifer Lawrence, Chris Pratt, Michael Sheen,Laurence Fishburne' 2016
 116 7.0 192177 100.01 41.0]
[11 'Fantastic Beasts and Where to Find Them' 'Adventure,Family,Fantasy'
 "The adventures of writer Newt Scamander in New York's secret community of witches and wizards seventy years before Harry Potter reads his book in school."
 'David Yates'
 'Eddie Redmayne, Katherine Waterston, Alison Sudol,Dan Fogler' 2016 133
 7.5 232072 234.02 66.0]
[12 'Hidden Figures' 'Biography,Drama,History'
 'The story of a team of female African-American mathematicians who served a vital role in NASA during the early years of the U.S. space program.'
 'Theodore Melfi'
 'Taraji P. Henson, Octavia Spencer, Janelle Monáe,Kevin Costner' 2016 127
 7.8 93103 169.27 74.0]
[13 'Rogue One' 'Action,Adventure,Sci-Fi'
 'The Rebel Alliance makes a risky move to steal the plans for the Death Star, setting up the epic saga to follow.'
 'Gareth Edwards' 'Felicity Jones, Diego Luna, Alan Tudyk, Donnie Yen'
 2016 133 7.9 323118 532.17 65.0]
[14 'Moana' 'Animation,Adventure,Comedy'
 "In Ancient Polynesia, when a terrible curse incurred by the Demigod Maui reaches an impetuous Chieftain's daughter's island, she answers the Ocean's call to seek out the Demigod to set things right."
 'Ron Clements'
 "Auli'i Cravalho, Dwayne Johnson, Rachel House, Temuera Morrison" 2016
 107 7.7 118151 248.75 81.0]
[15 'Colossal' 'Action,Comedy,Drama'
 'Gloria is an out-of-work party girl forced to leave her life in New York City, and move back home. When reports surface that a giant creature is destroying Seoul, she gradually comes to the realization that she is somehow connected to this phenomenon.'
 'Nacho Vigalondo'
 'Anne Hathaway, Jason Sudeikis, Austin Stowell,Tim Blake Nelson' 2016 109
 6.4 8612 2.87 70.0]
[16 'The Secret Life of Pets' 'Animation,Adventure,Comedy'
 'The quiet life of a terrier named Max is upended when his owner takes in Duke, a stray whom Max instantly dislikes.'
 'Chris Renaud' 'Louis C.K., Eric Stonestreet, Kevin Hart, Lake Bell' 2016
 87 6.6 120259 368.31 61.0]
[17 'Hacksaw Ridge' 'Biography,Drama,History'
 'WWII American Army Medic Desmond T. Doss, who served during the Battle of Okinawa, refuses to kill people, and becomes the first man in American history to receive the Medal of Honor without firing a shot.'
 'Mel Gibson'
 'Andrew Garfield, Sam Worthington, Luke Bracey,Teresa Palmer' 2016 139
 8.2 211760 67.12 71.0]
[18 'Jason Bourne' 'Action,Thriller'
 "The CIA's most dangerous former operative is drawn out of hiding to uncover more explosive truths about his past."
 'Paul Greengrass'
 'Matt Damon, Tommy Lee Jones, Alicia Vikander,Vincent Cassel' 2016 123
 6.7 150823 162.16 58.0]
[19 'Lion' 'Biography,Drama'
 'A five-year-old Indian boy gets lost on the streets of Calcutta, thousands of kilometers from home. He survives many challenges before being adopted by a couple in Australia. 25 years later, he sets out to find his lost family.'
 'Garth Davis' 'Dev Patel, Nicole Kidman, Rooney Mara, Sunny Pawar' 2016
 118 8.1 102061 51.69 69.0]
[20 'Arrival' 'Drama,Mystery,Sci-Fi'
 'When twelve mysterious spacecraft appear around the world, linguistics professor Louise Banks is tasked with interpreting the language of the apparent alien visitors.'
 'Denis Villeneuve'
 'Amy Adams, Jeremy Renner, Forest Whitaker,Michael Stuhlbarg' 2016 116
 8.0 340798 100.5 81.0]
[21 'Gold' 'Adventure,Drama,Thriller'
 'Kenny Wells, a prospector desperate for a lucky break, teams up with a similarly eager geologist and sets off on a journey to find gold in the uncharted jungle of Indonesia.'
 'Stephen Gaghan'
 'Matthew McConaughey, Edgar Ramírez, Bryce Dallas Howard, Corey Stoll'
 2016 120 6.7 19053 7.22 49.0]
[22 'Manchester by the Sea' 'Drama'
 "A depressed uncle is asked to take care of his teenage nephew after the boy's father dies."
 'Kenneth Lonergan'
 'Casey Affleck, Michelle Williams, Kyle Chandler,Lucas Hedges' 2016 137
 7.9 134213 47.7 96.0]
[23 'Hounds of Love' 'Crime,Drama,Horror'
 "A cold-blooded predatory couple while cruising the streets in search of their next victim, will stumble upon a 17-year-old high school girl, who will be sedated, abducted and chained in the strangers' guest room."
 'Ben Young' 'Emma Booth, Ashleigh Cummings, Stephen Curry,Susie Porter'
 2016 108 6.7 1115 nan 72.0]
[24 'Trolls' 'Animation,Adventure,Comedy'
 'After the Bergens invade Troll Village, Poppy, the happiest Troll ever born, and the curmudgeonly Branch set off on a journey to rescue her friends.'
 'Walt Dohrn'
 'Anna Kendrick, Justin Timberlake,Zooey Deschanel, Christopher Mintz-Plasse'
 2016 92 6.5 38552 153.69 56.0]
[25 'Independence Day: Resurgence' 'Action,Adventure,Sci-Fi'
 "Two decades after the first Independence Day invasion, Earth is faced with a new extra-Solar threat. But will mankind's new space defenses be enough?"
 'Roland Emmerich'
 'Liam Hemsworth, Jeff Goldblum, Bill Pullman,Maika Monroe' 2016 120 5.3
 127553 103.14 32.0]
[26 'Paris pieds nus' 'Comedy'
 'Fiona visits Paris for the first time to assist her myopic Aunt Martha. Catastrophes ensue, mainly involving Dom, a homeless man who has yet to have an emotion or thought he was afraid of expressing.'
 'Dominique Abel'
 'Fiona Gordon, Dominique Abel,Emmanuelle Riva, Pierre Richard' 2016 83
 6.8 222 nan nan]
[27 'Bahubali: The Beginning' 'Action,Adventure,Drama'
 'In ancient India, an adventurous and daring man becomes involved in a decades old feud between two warring people.'
 'S.S. Rajamouli'
 'Prabhas, Rana Daggubati, Anushka Shetty,Tamannaah Bhatia' 2015 159 8.3
 76193 6.5 nan]
[28 'Dead Awake' 'Horror,Thriller'
 'A young woman must save herself and her friends from an ancient evil that stalks its victims through the real-life phenomenon of sleep paralysis.'
 'Phillip Guzman'
 'Jocelin Donahue, Jesse Bradford, Jesse Borrego,Lori Petty' 2016 99 4.7
 523 0.01 nan]
[29 'Bad Moms' 'Comedy'
 'When three overworked and under-appreciated moms are pushed beyond their limits, they ditch their conventional responsibilities for a jolt of long overdue freedom, fun, and comedic self-indulgence.'
 'Jon Lucas' 'Mila Kunis, Kathryn Hahn, Kristen Bell,Christina Applegate'
 2016 100 6.2 66540 113.08 60.0]
[30 "Assassin's Creed" 'Action,Adventure,Drama'
 'When Callum Lynch explores the memories of his ancestor Aguilar and gains the skills of a Master Assassin, he discovers he is a descendant of the secret Assassins society.'
 'Justin Kurzel'
 'Michael Fassbender, Marion Cotillard, Jeremy Irons,Brendan Gleeson' 2016
 115 5.9 112813 54.65 36.0]
[31 'Why Him?' 'Comedy'
 "A holiday gathering threatens to go off the rails when Ned Fleming realizes that his daughter's Silicon Valley millionaire boyfriend is about to pop the question."
 'John Hamburg'
 'Zoey Deutch, James Franco, Tangie Ambrose,Cedric the Entertainer' 2016
 111 6.3 48123 60.31 39.0]
[32 'Nocturnal Animals' 'Drama,Thriller'
 "A wealthy art gallery owner is haunted by her ex-husband's novel, a violent thriller she interprets as a symbolic revenge tale."
 'Tom Ford'
 'Amy Adams, Jake Gyllenhaal, Michael Shannon, Aaron Taylor-Johnson' 2016
 116 7.5 126030 10.64 67.0]
[33 'X-Men: Apocalypse' 'Action,Adventure,Sci-Fi'
 "After the re-emergence of the world's first mutant, world-destroyer Apocalypse, the X-Men must unite to defeat his extinction level plan."
 'Bryan Singer'
 'James McAvoy, Michael Fassbender, Jennifer Lawrence, Nicholas Hoult'
 2016 144 7.1 275510 155.33 52.0]
[34 'Deadpool' 'Action,Adventure,Comedy'
 'A fast-talking mercenary with a morbid sense of humor is subjected to a rogue experiment that leaves him with accelerated healing powers and a quest for revenge.'
 'Tim Miller' 'Ryan Reynolds, Morena Baccarin, T.J. Miller, Ed Skrein'
 2016 108 8.0 627797 363.02 65.0]
[35 'Resident Evil: The Final Chapter' 'Action,Horror,Sci-Fi'
 'Alice returns to where the nightmare began: The Hive in Raccoon City, where the Umbrella Corporation is gathering its forces for a final strike against the only remaining survivors of the apocalypse.'
 'Paul W.S. Anderson'
 'Milla Jovovich, Iain Glen, Ali Larter, Shawn Roberts' 2016 107 5.6 46165
 26.84 49.0]
[36 'Captain America: Civil War' 'Action,Adventure,Sci-Fi'
 "Political interference in the Avengers' activities causes a rift between former allies Captain America and Iron Man."
 'Anthony Russo'
 'Chris Evans, Robert Downey Jr.,Scarlett Johansson, Sebastian Stan' 2016
 147 7.9 411656 408.08 75.0]
[37 'Interstellar' 'Adventure,Drama,Sci-Fi'
 "A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival."
 'Christopher Nolan'
 'Matthew McConaughey, Anne Hathaway, Jessica Chastain, Mackenzie Foy'
 2014 169 8.6 1047747 187.99 74.0]
[38 'Doctor Strange' 'Action,Adventure,Fantasy'
 'While on a journey of physical and spiritual healing, a brilliant neurosurgeon is drawn into the world of the mystic arts.'
 'Scott Derrickson'
 'Benedict Cumberbatch, Chiwetel Ejiofor, Rachel McAdams, Benedict Wong'
 2016 115 7.6 293732 232.6 72.0]
[39 'The Magnificent Seven' 'Action,Adventure,Western'
 'Seven gunmen in the old west gradually come together to help a poor village against savage thieves.'
 'Antoine Fuqua'
 "Denzel Washington, Chris Pratt, Ethan Hawke,Vincent D'Onofrio" 2016 132
 6.9 122853 93.38 54.0]
[40 '5- 25- 77' 'Comedy,Drama'
 "Alienated, hopeful-filmmaker Pat Johnson's epic story growing up in rural Illinois, falling in love, and becoming the first fan of the movie that changed everything."
 'Patrick Read Johnson'
 'John Francis Daley, Austin Pendleton, Colleen Camp, Neil Flynn' 2007 113
 7.1 241 nan nan]
[41 'Sausage Party' 'Animation,Adventure,Comedy'
 'A sausage strives to discover the truth about his existence.'
 'Greg Tiernan' 'Seth Rogen, Kristen Wiig, Jonah Hill, Alistair Abell'
 2016 89 6.3 120690 97.66 66.0]
[42 'Moonlight' 'Drama'
 'A chronicle of the childhood, adolescence and burgeoning adulthood of a young, African-American, gay man growing up in a rough neighborhood of Miami.'
 'Barry Jenkins'
 'Mahershala Ali, Shariff Earp, Duan Sanderson, Alex R. Hibbert' 2016 111
 7.5 135095 27.85 99.0]
[43 "Don't Fuck in the Woods" 'Horror'
 'A group of friends are going on a camping trip to celebrate graduating college. But once they enter the woods, the proverbial shit starts to hit the fan.'
 'Shawn Burkett'
 'Brittany Blanton, Ayse Howard, Roman Jossart,Nadia White' 2016 73 2.7
 496 nan nan]
[44 'The Founder' 'Biography,Drama,History'
 "The story of Ray Kroc, a salesman who turned two brothers' innovative fast food eatery, McDonald's, into one of the biggest restaurant businesses in the world with a combination of ambition, persistence, and ruthlessness."
 'John Lee Hancock'
 'Michael Keaton, Nick Offerman, John Carroll Lynch, Linda Cardellini'
 2016 115 7.2 37033 12.79 66.0]
[45 'Lowriders' 'Drama'
 "A young street artist in East Los Angeles is caught between his father's obsession with lowrider car culture, his ex-felon brother and his need for self-expression."
 'Ricardo de Montreuil'
 'Gabriel Chavarria, Demián Bichir, Theo Rossi,Tony Revolori' 2016 99 6.3
 279 4.21 57.0]
[46 'Pirates of the Caribbean: On Stranger Tides'
 'Action,Adventure,Fantasy'
 'Jack Sparrow and Barbossa embark on a quest to find the elusive fountain of youth, only to discover that Blackbeard and his daughter are after it too.'
 'Rob Marshall' 'Johnny Depp, Penélope Cruz, Ian McShane, Geoffrey Rush'
 2011 136 6.7 395025 241.06 45.0]
[47 'Miss Sloane' 'Drama,Thriller'
 'In the high-stakes world of political power-brokers, Elizabeth Sloane is the most sought after and formidable lobbyist in D.C. But when taking on the most powerful opponent of her career, she finds winning may come at too high a price.'
 'John Madden'
 'Jessica Chastain, Mark Strong, Gugu Mbatha-Raw,Michael Stuhlbarg' 2016
 132 7.3 17818 3.44 64.0]
[48 'Fallen' 'Adventure,Drama,Fantasy'
 'A young girl finds herself in a reform school after therapy since she was blamed for the death of a young boy. At the school she finds herself drawn to a fellow student, unaware that he is an angel, and has loved her for thousands of years.'
 'Scott Hicks'
 'Hermione Corfield, Addison Timlin, Joely Richardson,Jeremy Irvine' 2016
 91 5.6 5103 nan nan]
[49 'Star Trek Beyond' 'Action,Adventure,Sci-Fi'
 'The USS Enterprise crew explores the furthest reaches of uncharted space, where they encounter a new ruthless enemy who puts them and everything the Federation stands for to the test.'
 'Justin Lin' 'Chris Pine, Zachary Quinto, Karl Urban, Zoe Saldana' 2016
 122 7.1 164567 158.8 68.0]
[50 'The Last Face' 'Drama'
 'A director (Charlize Theron) of an international aid agency in Africa meets a relief aid doctor (Javier Bardem) amidst a political/social revolution, and together face tough choices ... See full summary »'
 'Sean Penn'
 'Charlize Theron, Javier Bardem, Adèle Exarchopoulos,Jared Harris' 2016
 130 3.7 987 nan 16.0]
[51 'Star Wars: Episode VII - The Force Awakens'
 'Action,Adventure,Fantasy'
 'Three decades after the defeat of the Galactic Empire, a new threat arises. The First Order attempts to rule the galaxy and only a ragtag group of heroes can stop them, along with the help of the Resistance.'
 'J.J. Abrams' 'Daisy Ridley, John Boyega, Oscar Isaac, Domhnall Gleeson'
 2015 136 8.1 661608 936.63 81.0]
[52 'Underworld: Blood Wars' 'Action,Adventure,Fantasy'
 'Vampire death dealer, Selene (Kate Beckinsale) fights to end the eternal war between the Lycan clan and the Vampire faction that betrayed her.'
 'Anna Foerster'
 'Kate Beckinsale, Theo James, Tobias Menzies, Lara Pulver' 2016 91 5.8
 41362 30.35 23.0]
[53 "Mother's Day" 'Comedy,Drama'
 "Three generations come together in the week leading up to Mother's Day."
 'Garry Marshall'
 'Jennifer Aniston, Kate Hudson, Julia Roberts, Jason Sudeikis' 2016 118
 5.6 20221 32.46 18.0]
[54 'John Wick' 'Action,Crime,Thriller'
 'An ex-hitman comes out of retirement to track down the gangsters that took everything from him.'
 'Chad Stahelski'
 'Keanu Reeves, Michael Nyqvist, Alfie Allen, Willem Dafoe' 2014 101 7.2
 321933 43.0 68.0]
[55 'The Dark Knight' 'Action,Crime,Drama'
 'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, the Dark Knight must come to terms with one of the greatest psychological tests of his ability to fight injustice.'
 'Christopher Nolan'
 'Christian Bale, Heath Ledger, Aaron Eckhart,Michael Caine' 2008 152 9.0
 1791916 533.32 82.0]
[56 'Silence' 'Adventure,Drama,History'
 'In the 17th century, two Portuguese Jesuit priests travel to Japan in an attempt to locate their mentor, who is rumored to have committed apostasy, and to propagate Catholicism.'
 'Martin Scorsese'
 'Andrew Garfield, Adam Driver, Liam Neeson,Tadanobu Asano' 2016 161 7.3
 49190 7.08 79.0]
[57 "Don't Breathe" 'Crime,Horror,Thriller'
 "Hoping to walk away with a massive fortune, a trio of thieves break into the house of a blind man who isn't as helpless as he seems."
 'Fede Alvarez' 'Stephen Lang, Jane Levy, Dylan Minnette, Daniel Zovatto'
 2016 88 7.2 121103 89.21 71.0]
[58 'Me Before You' 'Drama,Romance'
 "A girl in a small town forms an unlikely bond with a recently-paralyzed man she's taking care of."
 'Thea Sharrock' 'Emilia Clarke, Sam Claflin, Janet McTeer, Charles Dance'
 2016 106 7.4 113322 56.23 51.0]
[59 'Their Finest' 'Comedy,Drama,Romance'
 'A former secretary, newly appointed as a scriptwriter for propaganda films, joins the cast and crew of a major production while the Blitz rages around them.'
 'Lone Scherfig' 'Gemma Arterton, Sam Claflin, Bill Nighy, Jack Huston'
 2016 117 7.0 3739 3.18 76.0]
[60 'Sully' 'Biography,Drama'
 "The story of Chesley Sullenberger, an American pilot who became a hero after landing his damaged plane on the Hudson River in order to save the flight's passengers and crew."
 'Clint Eastwood'
 'Tom Hanks, Aaron Eckhart, Laura Linney, Valerie Mahaffey' 2016 96 7.5
 137608 125.07 74.0]
[61 'Batman v Superman: Dawn of Justice' 'Action,Adventure,Sci-Fi'
 'Fearing that the actions of Superman are left unchecked, Batman takes on the Man of Steel, while the world wrestles with what kind of a hero it really needs.'
 'Zack Snyder' 'Ben Affleck, Henry Cavill, Amy Adams, Jesse Eisenberg'
 2016 151 6.7 472307 330.25 44.0]
[62 'The Autopsy of Jane Doe' 'Horror,Mystery,Thriller'
 'A father and son, both coroners, are pulled into a complex mystery while attempting to identify the body of a young woman, who was apparently harboring dark secrets.'
 'André Øvredal'
 'Brian Cox, Emile Hirsch, Ophelia Lovibond, Michael McElhatton' 2016 86
 6.8 35870 nan 65.0]
[63 'The Girl on the Train' 'Crime,Drama,Mystery'
 'A divorcee becomes entangled in a missing persons investigation that promises to send shockwaves throughout her life.'
 'Tate Taylor'
 'Emily Blunt, Haley Bennett, Rebecca Ferguson, Justin Theroux' 2016 112
 6.5 102177 75.31 48.0]

In [166]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [170]:
list(df['Genre'].value_counts().values)

[50,
 48,
 35,
 32,
 31,
 27,
 27,
 27,
 26,
 24,
 23,
 18,
 17,
 16,
 15,
 14,
 14,
 14,
 14,
 12,
 12,
 11,
 11,
 10,
 9,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [ ]:
https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/addresses.csv